body {
    display: flex;
    align-items: center;
}

.container {
    background-color: black;
    cursor: pointer;
    text-align: center;
    width: 200px;
}

.container:hover {
    background-color: green;
}

.title {
    color: yellow;
}

.paragraph {
    color: white;
}

.icon {
    width: 40px;
    height: 50px;
}